body{
  background: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  color:#434455;
}
section{
  padding-top: 96px;
  padding-bottom: 96px;
}

img{
  display: block;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}
.visually-hidden {
    display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
width: 100%;
max-width: 320px;
padding-left: 16px;
padding-right: 16px;
margin: 0 auto;
}

/* --------------HEADER------------ */
.header {
border-bottom: 1px solid #e7e9fc ;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-logo{
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-right: 76px; 
}

.header-logo-grey{
  color: #2e2f42;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
    padding: 24px 0;
}

.header-menu-link {
  color:#2E2F42;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover, .header-menu-link:active, .header-menu-link:focus, .address-mail-link:hover, .address-mail-link:focus {
  color:#404BBF;
}
.header-menu-list {
  display: flex;
  gap: 40px;
}
.header-menu-item{
  display: flex;
  position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
  position: relative;
  color: #404BBF;
}
.current::after{
  position: absolute;
  content: '';
  width:100%;
  height: 4px;
background-color:#404BBF ;
border-radius: 2px;
left: 0;
bottom: -1px;
height: 4px;
}
.address {
  font-style: normal;
}
.address-mail-list{
  display: flex;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
  align-items: center;
}
.header-navigation{
  display: flex;
  flex-grow: 1;
    align-items: center;
}

.header-container{
  display: flex;
}
.address-mail-link{
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

/* -------------------------- */


/* -------------HERO------------- */
.hero{
  background: var(--NAVY-BLUE, #2E2F42);
  background-image: linear-gradient( rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70) ), url(../images/compressjpeg/people-office-mob.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
    padding: 72px 0;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 2dppx){
  .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
      url(../images/people-office-mob-2x.jpg);
      
    }
}


.hero-title {
    color: var(--WHITE, #FFF);
    text-align: center;
      font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    width: 100%;
        max-width: 216px;
    margin: 0 auto;
    margin-bottom: 72px;
  text-transform: capitalize;
}

.hero-btn {
  padding: 16px 32px;
  color: var(--WHITE, #FFF);
  font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--IRIS, #4D5AE5);
    border-radius: 4px;
      background: var(--IRIS, #4D5AE5);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        border: none;  
      cursor: pointer;
      display: block;
      min-width: 169px;
      margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover, .hero-btn:focus {
background: #404BBF;
}
/* -------------------------- */

/* -------------FEATURES------------- */
.features-icon-div{
  display: none;
  width: 264px; 
  height: 112px;
  border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--CLOUD, #F4F4FD);
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
}

.features-list{
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.features-item{
    /* width: calc((100% - 24px*3) /4); */
  }
.features-item-subtitle{
  color: var(--NAVY-BLUE, #2E2F42);
  text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    text-transform: capitalize;
    letter-spacing: 0.02em;
      margin-bottom: 8px;    
}

.features-item-txt{
  color: var(--SLATE, #434455);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* -------------------------- */

/* -------------TEAM------------- */
.team-container {
  padding-left: 28px;
  padding-right: 28px;
}
.team{
  background:#F4F4FD;
  padding-top: 96px;
    padding-bottom: 96px;
}

.team-list{
  display: flex;
    flex-wrap: wrap;
      gap: 72px;
}

.team-item {
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-title{
  color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.name-place-team{
  padding: 32px 0;
  border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border-top: none;
}
.icon-list-team{
  display: flex;
  justify-content: center;
  gap: 24px;
}
.icon-list {
  display: flex;
  width: 40px;
  height: 40px;
}
.icon-list-link{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-list-link:hover {
  background-color: #404BBF;
}
.icon-list-link:focus {
  background-color: #404BBF;
}
.icons-team{
  fill:#f4f4fd;
}
.workers{
  color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.place{
    color: var(--SLATE, #434455);
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* -------------------------- */


/* -------------PORTFOLIO------------- */

.portfolio-title {
  color: var(--NAVY-BLUE, #2E2F42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolifo-text-wrap{
position: relative;
  overflow: hidden;   
   top: 0;
    background: var(--IRIS, #4D5AE5);
    width: 288px;
      height: 280px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img{
  margin: 0 auto;
}
.card-text-cover{
  position: absolute;
  color: var(--CLOUD, #F4F4FD);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  top: 0;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list{
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.portfolio-item{
  position: relative;
    background: var(--WHITE, #FFF);
    /* width: calc((100% - 24px*2) /3); */
    width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item{
box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16),
  0px 2px 1px rgba(46, 47, 66, 0.08); 
}
.portfolio-item:hover .card-text-cover{
  transform: translateY(0%);
}
.name-portfolio{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-subtitle{
color: var(--NAVY-BLUE, #2E2F42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-txt{
  color: var(--SLATE, #434455);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}
/* -------------------------- */



/* -------------FOOTER--------- */
.container-footer{
  display: flex;
  align-items: baseline;
}
.footer{
  background: var(--NAVY-BLUE, #2E2F42);
  padding: 100px 0;
}
.footer-logo-p{
  margin-right: 120px;
}
.footer-logo{
color: var(--IRIS, #4D5AE5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
  }

.footer-logo-white {
    color: var(--CLOUD, #F4F4FD);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

.footer-text {
  color: var(--CLOUD, #F4F4FD);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
    width: 100%;
    max-width: 264px;
}


.social-footer {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: inline-block;
    margin-bottom: 16px;
}
.icon-list-footer{
  display: flex;
  gap: 16px;
}
.icon-footer-list{
  width: 40px;
  height: 40px;
}
.icon-link-footer{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link-footer:hover {
  background-color: #31D0AA;
}
.icon-link-footer:focus {
  background-color: #31D0AA;
}

.footer-form{
  display: flex;
}
.contacts-footer{
color: var(--WHITE, #FFF);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
    margin-left: 80px;
    margin-bottom: 16px;
}
.footer-form{
  gap: 24px;
}
.input-email{
  color: var(--WHITE, #FFF);
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
  width: 264px;
  height: 40px;
  border-radius: 4px;
    border: 1px solid var(--WHITE, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-left: 16px;
  margin-left: 80px;
    outline: transparent;
}
.input-email::placeholder{
  color: #ffffff;
}
.input-email:focus{
    border-color: #4D5AE5;
}
.subs-btn{
  display: flex;
  color: var(--WHITE, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
  min-width: 165px; 
  height: 40px;
  border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    border: none;
    font-family: inherit;
    padding-right: 24px;
    margin-left: 24px;
    align-items: center;
    justify-content: center;
}
.send-icon{
  fill: #FFFFFF;
  margin-left: 16px;
}
/* ------BACKDROP-------- */
.backdrop{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color:#2E2F4266;
  opacity: 0;
  visibility: hidden;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal{
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
    background: var(--DAIRY, #FCFCFC);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn{
  background-color: #E7E9FC;
  border-radius: 50%;
  width: 24px;
  height: 24px;
border: 1px solid rgba(0, 0, 0, 0.10);;  
position: absolute;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  top: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover{
background-color:#404BBF ;
border: none;
fill: #ffffff;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:focus {
  background-color: #404BBF;
  border: none;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-backdrop{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title{
  color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.modal-field{
  margin-bottom: 8px;
}
.modal-input{
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
  outline: transparent;
  background-color: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.label-form{
  display: block;
color: var(--LIGHT-SLATE, #8E8F99);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
.modal-icon{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input-wrap{
    position: relative;
}
.modal-input:focus{
    border-color:#4D5AE5 ;
}
.modal-input:focus + .modal-icon{
    fill: #4D5AE5;
}
.modal-field-textarea{
  margin-bottom: 16px;
}
.modal-text{
    width: 100%;
    height: 120px;
    border-radius: 4px;
      border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
      font-size: 12px;
      font-weight: 400;
      line-height: 1.17;
      letter-spacing: 0.04em;
      padding: 8px 16px;
      outline: transparent;
      resize: none;
      background-color: transparent;
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.modal-text:focus{
  border-color: #4D5AE5;
}
.modal-field-check{
  margin-bottom: 24px;
}
.check-text {
  color: var(--LIGHT-SLATE, #8E8F99);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
    align-items: center;
    margin-top: 16px;
}
.check-text a{
  color: #4D5AE5;
  text-decoration: underline;
}

.check-text span{
  display: inline-flex;
   width: 16px; 
   height: 16px;
   border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
   border-radius: 2px;
   margin-right: 8px;
   align-items: center;
   justify-content:center;
   fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-input:checked+.check-text span {
  background-color: #404BBF;
  border: none;
  fill: #F4F4FD;
}

.submit-btn{
  color: var(--WHITE, #FFF);
    text-align: center;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background-color: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    min-width: 169px;
    height: 56px;
    display: block;
    margin: 0 auto;
    margin-top: 24px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
      }
    /* ------------HERO------------ */
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), 
            url(../images/compressjpeg/people-office-tab.jpg);
          padding: 112px 0;
        }

        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 2dppx) {
          .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
              url(../images/people-office-tab-2x.jpg);
    
          }
        }

        .hero-title{
            font-size: 56px;
            line-height: 1.07;
            max-width: 496px;
            margin-bottom: 36px;

        }
      /* ------------------------------------ */
    
    /* ------------FEATURES------------ */
        .features-list {
          flex-wrap: wrap;
          flex-direction: row;
      column-gap: 24px;
        row-gap: 72px;
        }
        .features-item {
          width: calc((100% - 24px) /2);
        }
    .features-item-subtitle{
        text-align:start;
    }
    /* ------------------------------------ */
    
    
        /* ------------PORTFOLIO------------ */
    
    .portfolifo-text-wrap {
      width: 356px;
      height: 300px;
    }

    .portfolio-list {
      column-gap: 24px;
      row-gap:72px;
    }

    .portfolio-item {
      width: calc((100% - 24px) /2);
    }
    /* ------------------------------------ */

        /* -----------TEAM--------------- */
    .team-container {
          padding-left: 108px;
          padding-right: 108px;
        }
    
        .team {
          padding-top: 96px;
          padding-bottom: 96px;
        }
    
        .team-list {
          column-gap: 24px;
          row-gap: 64px;
        }
    
        .team-item {
          width: calc((100% - 24px) /2);
        }
    
        * ------------------------------------ */
  }

  @media screen and (min-width: 1158px) {
    .container {
        max-width: 1440px;
        padding-left: 156px;
        padding-right: 156px;
      }

    /* ------------HERO------------ */
      .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
      url(../images/people-office.jpg);
       padding: 188px 0;
         }

        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 2dppx) {
          .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
              url(../images/people-office-dt-2x.jpg);
    
          }
        }

         .hero-title {
          margin-bottom: 48px;
    
         }
    /* ------------FEATURES------------ */
         .features-icon-div {
           display: flex;
         }

      .features-list {
        flex-direction: row;
        gap: 24px;
      }
            .features-item {
              width: calc((100% - 24px*3) /4);
            }
    .features-item-subtitle {
      font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }
    * ------------------------------------ */


   /* ------------PORTFOLIO------------ */
   
    section {
        padding-top: 120px;
        padding-bottom: 120px;
      } 
    .portfolifo-text-wrap {
        width: 360px;
      }
    .portfolio-list {
        column-gap: 24px;
        row-gap: 48px ;
      } 
    .portfolio-item {
        width: calc((100% - 24px*2) /3);
      }
      /* ------------------------------------ */

      /* -----------TEAM--------------- */
  .team-container {
    padding-left: 156px;
    padding-right: 156px;
  }
    .team {
      padding-top: 120px;
      padding-bottom: 120px;
    }
        .team-list {
          display: flex;
          flex-wrap: nowrap;
          gap: 24px;
        }
  }
  